#foto{
  width: 250px;
  height: auto;
}
body{
  background-color:lightblue;
  font-family: Arial, Helvetica, sans-erif;
font-size:160%;
text-align: justify;
margin-left: 100px;
margin-right: 500px;
}

aside{
  float: right;
  background-color:red;
}
